* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  background-color: rgb(0, 255, 106);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.primary-icon {
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  display: block;
}
.nav-list .list-item {
  display: inline-block;
  padding: 10px;
  border-top: 1px solid black;
}
.nav a {
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: rgb(255, 0, 0);
}
.menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}
.menu-line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-top: 4px;
}
@media all and (max-width: 780px) {
  .nav {
    flex-direction: column;
    position: relative;
  }
  .nav .container-icon {
    width: 100%;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
    /* display: flex;
    flex-direction: column; */
  }
  .nav-list .list-item {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
  }
}
/* finally i started JS */
.nan {
  display: block;
}
